/* RESET */
body,
form,
h1,
h2 {
  margin: 0;
  padding: 0;
}

body {
  background: #0769ad;
}
header {
  padding: 10px 20px;
  background-color: #eee;
}

h1 {
  color: white;
  padding: 10px 20px;
}
h2 {
  font-size: 1.3em;
}
button {
  padding: 5px;
}
#questions {
  padding: 20px;
}
article {
  padding: 10px 20px;
  margin: 15px 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #eee;
}
.q-point {
  display: inline-block;
  padding: 2px 5px;
  min-width: 18px;
  text-align: center;
  border: 2px solid #076e2b;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
article .q-point {
  color: red;
  margin-right: 10px;
}
article .q-point:empty {
  display: none;
}
article.correct .q-point{
  color: #076e2b;
}

.code {
  min-height: 50px;
  height: auto;
}

article label p {
  margin: 4px;
}

.page {
  padding: 20px;
}

#test-result .q-point,
#result .q-point {
  border-color: white;
  min-width: 70px;
}

article label {
  font-weight: bold;
}
.correct-answer {
  color: #076e2b;
}
.required-answer {
  color: #0769ad;
}
.incorrect-answer {
  color: red;
}
