/* RESET */
body,
form,
h1,
h2 {
  margin: 0;
  padding: 0;
}

body {
  background: #0769ad;
}
header {
  padding: 10px 20px;
  background-color: #eee;
}

h1 {
  color: white;
  padding: 10px 20px;
}
h2 {
  font-size: 1.3em;
}
button {
  padding: 5px;
}
#questions {
  padding: 20px;
}
#questions .level-selector label {
  color: #fff;
  font-weight: bold;
}
article {
  padding: 10px 20px;
  margin: 15px 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #eee;
}
.q-point {
  display: inline-block;
  padding: 2px 5px;
  min-width: 18px;
  text-align: center;
  border: 2px solid #076e2b;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
article .q-point {
  color: red;
  margin-right: 10px;
}
article .q-nr {
  color: #0769ad;
}
article .q-point:empty {
  display: none;
}
article.correct .q-point {
  color: #076e2b;
}

article ol.inline-block {
  padding-left: 0;
}
article ol.inline-block li {
  display: inline-block;
  margin: 0 10px 0 10px;
}

.code {
  min-height: 50px;
  height: auto;
}

article label p {
  margin: 4px;
}

.page {
  padding: 20px;
}

#test-result .q-point,
#result .q-point {
  border-color: white;
  min-width: 80px;
}
#test-result .q-point {
  color: #000000;
}

article label {
  font-weight: bold;
}
input[type="text"].answer,
input[type="number"].answer {
  /*border-radius: 4px;*/
  padding: 4px;
}

.correct-answer {
  color: #076e2b;
}
.correct-answer input[type="text"].answer,
.correct-answer input[type="number"].answer {
  border-color: #076e2b;
}
.required-answer {
  color: #0769ad;
}
.required-answer input[type="text"].answer,
.required-answer input[type="number"].answer {
  border-color: #0769ad;
}
.incorrect-answer {
  color: red;
}
.incorrect-answer input[type="text"].answer,
.incorrect-answer input[type="number"].answer {
  border-color: red;
}

body,
body *,
pre {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
