.bible-reference {
  font-size: 0.9em;
  color: #0769ad;
  text-decoration: none;
}

.bible-references-link {
  padding: 5px 10px;
  text-decoration: none;
}

.reference-title {
  font-weight: bold;
  color: #0769ad;
}

sup {
  font-size: 0.6em;
  color: #0769ad;
  font-weight: bold;
}

article h2 .verse-nr {
  /* hide verse number - users should choose reference and this helps them */
  display: none;
}

.missing-word {
  display: inline-block;
  min-width: 150px;
  color: #0769ad;
  border-bottom: 2px solid #0769ad;
  padding: 0;
  cursor: pointer;
  text-align: center;
  font-style: italic;
}
