.bible-reference {
  font-size: 0.9em;
  color: #0769ad;
  text-decoration: none;
}

.bible-references-link {
  padding: 5px 10px;
  text-decoration: none;
}

.reference-title {
  font-weight: bold;
  color: #0769ad;
  font-size: 1.2em;
}

sup {
  font-size: 0.6em;
  color: #0769ad;
  font-weight: bold;
}

article h2 .verse-nr {
  /* hide verse number - users should choose reference and this helps them */
  display: none;
}
