@media print {
  html {
    height: initial;
  }
  body {
    height: initial;
    overflow-y: auto;
  }

  .main-background {
    background: transparent;
  }
  body.focused .main-background {
    background: transparent;
  }

  #questions {
    padding: 20px 5px;
  }

  body,
  header,
  article {
    background: white;
  }
  .hide-on-print {
    display: none !important;
  }

  article {
    page-break-inside: avoid;
    padding: 5px 5px;
    margin: 5px 0;
  }

  article ol {
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
  }

  .test-result .q-point {
    color: #000000;
    border-color: #076e2b;
  }
}
