@media print {
  html {
    height: initial;
  }
  body {
    height: initial;
    overflow-y: auto;
  }

  body,
  header,
  article {
    background: white;
  }
  .hide-on-print {
    display: none !important;
  }

  article {
    page-break-inside: avoid;
    padding: 5px 5px;
    margin: 5px 0;
  }

  .test-result .q-point {
    color: #000000;
    border-color: #076e2b;
  }
}
