/* RESET */
body,
form,
h1,
h2 {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
}
body {
  width: 100%;
  background: #0769ad44;
  transition:
    background 1200ms ease-in-out,
    transform 250ms ease;
}
body.focused {
  background: #0769ad;
}
#mainForm {
  position: relative;
}
#mainForm:before {
  content: attr(data-blur);
  position: absolute;
  font-size: 10px;
  top: 3px;
  right: 3px;
  opacity: 0.5;
}

header {
  padding: 10px 20px;
  background-color: #eee;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#custom-header {
  align-items: flex-start;
}
#custom-header-editor {
  display: flex;
}
#custom-header-editor textarea {
  flex: 1;
  padding: 10px 10px;
  border-radius: 5px;
  min-height: 150px;
}

.tbar {
  display: flex;
  align-items: stretch;
  gap: 10px;
}
.tfill {
  flex: 1;
}

.fill {
  flex: 1;
}

h1 {
  color: white;
  padding: 10px 20px;
}
h2 {
  font-size: 1.3em;
  line-height: 1.3em;
}

button {
  display: inline-block;
  border: 1px solid #777;
  padding: 0.5rem 1.5rem;
  margin: 0 10px 0 0;
  text-decoration: none;
  background: #eee;
  color: #000000;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition:
    background 250ms ease-in-out,
    transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 4px;
}
button:hover,
button:focus {
  background: #5da006;
}
button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}
button:active {
  transform: scale(0.99);
}

button.small {
  padding: 0.3rem 0.8rem;
  font-size: 0.8rem;
}

button.primary {
  background: #86ed00;
  font-weight: bold;
}
button.primary:hover,
button.primary:focus {
  background: #5da006;
}

button.primary:disabled {
  background: #eee;
  color: #888;
  cursor: default;
  opacity: 0.7;
}
button.primary:disabled:hover,
button.primary:disabled:focus {
  background: #eee;
  color: #888;
}

select {
  padding: 5px;
}
.student-name {
  cursor: pointer;
}
.student-name:hover {
  color: #3d79c2;
}

.content {
  display: flex;
  flex-direction: row;
}

.hide {
  display: none !important;
}
#add-questions-wrapper {
  display: flex;
  flex: 1;
  margin: 65px 10px 0 20px;
}

#addQuestions {
  resize: none;
  flex: 1;
  padding: 10px 20px;
  border-radius: 5px;
  min-height: 150px;
}
#questions {
  flex: 1;
  padding: 20px;
}

.inline-input {
  display: inline-block;
}
.form-label {
  color: #fff;
  font-weight: bold;
}
article {
  position: relative;
  padding: 10px 20px;
  margin: 15px 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #eee;
}
article.selected {
  background-color: #a3f5a3;
}
article ol {
  margin: 0 45px 0 0;
}
.q-point {
  display: inline-block;
  padding: 2px 5px;
  min-width: 18px;
  text-align: center;
  border: 2px solid #076e2b;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
article .q-point {
  color: red;
  margin-right: 10px;
}
.hide-points article .q-point {
  display: none;
}
article .q-nr {
  color: #0769ad;
}
article.disabled:before {
  background: #cb9700;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  width: 5px;
  border-radius: 5px 0 0 5px;
  top: 0;
}
article .q-point:empty {
  display: none;
}
article.correct .q-point {
  color: #076e2b;
}

article ol.inline-block {
  padding-left: 0;
}
article ol.inline-block li {
  display: inline-block;
  margin: 0 10px 0 10px;
}

.code {
  min-height: 50px;
  height: auto;
}

article label p {
  margin: 4px;
}

.page {
  padding: 20px;
}

.test-result .q-point {
  border-color: white;
  min-width: 80px;
  position: relative;
  padding-top: 15px;
  line-height: 1.2em;
}
.test-result .q-point:before {
  content: attr(data-percent);
  position: absolute;
  top: 1px;
  right: 4px;
  font-size: 12px;
  line-height: 1.2em !important;
}
header .test-result .q-point {
  color: #000000;
  border-color: #3d79c2;
}

@keyframes label-animation {
  0% {
    background: transparent;
  }
  5% {
    background: #0769ad05;
  }
  45% {
    background: #0769ad44;
  }
  55% {
    background: #0769ad44;
  }
  95% {
    background: #0769ad05;
  }
  100% {
    background: transparent;
  }
}
article label {
  font-weight: bold;
  line-height: 1.27em;
  padding-right: 10px;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
}
article label.checked {
  animation-name: label-animation;
}

/* animate article when changed */
@keyframes slideOutRight {
  0% {
    opacity: 1;
    transform: translateX(-100%);
  }
  50% {
    opacity: 0.5;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}
article {
  overflow: hidden;
}
article.changed:before {
  /*background: #cb9700;*/
  background: #86ed00;
  content: "";
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  height: 5px;
  border-radius: 0 0 5px 5px;
  animation: slideOutRight 1s forwards;
}

input[type="text"].answer,
input[type="number"].answer {
  /*border-radius: 4px;*/
  padding: 4px;
}

.correct-answer {
  color: #076e2b;
}
.correct-answer input[type="text"].answer,
.correct-answer input[type="number"].answer {
  border-color: #076e2b;
}
.required-answer {
  color: #0769ad;
  border-bottom: 1px dashed red;
}
.required-answer input[type="text"].answer,
.required-answer input[type="number"].answer {
  border-color: #0769ad;
}
.incorrect-answer {
  color: red;
}
.incorrect-answer input[type="text"].answer,
.incorrect-answer input[type="number"].answer {
  border-color: red;
}

body,
body *,
pre {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input,
input:before,
input:after {
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

footer {
  color: #eee;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px;
}
footer a {
  color: #eee;
  text-decoration: none;
}
footer a:hover {
  color: #86ed00;
}

.middle-scroll header .fill {
  line-height: 0;
}
.middle-scroll header img {
  height: 25px;
}
.middle-scroll main {
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}
.middle-scroll .form-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}
.middle-scroll .content {
  flex: 1;
  overflow-y: hidden;
  padding: 10px 0;
}
.middle-scroll #addQuestions {
}
.middle-scroll .content #questions {
  padding: 20px 20px 20px 10px;
  overflow-y: auto;
}
.middle-scroll .page {
  padding: 10px 20px;
}

@media (max-width: 500px) {
  header img {
    height: 25px;
  }
  #questions {
    padding: 10px;
  }
  article {
    margin: 10px 0;
    padding: 10px 10px;
  }
  ol {
    padding-inline-start: 25px;
  }
  .page {
    padding: 10px;
  }
}

.hide-logo #app-logo {
  display: none;
}
